backend-middleware/brain2_current.json
{"updatedAt":"2026-06-24T09:51:59.273Z","createdAt":"2026-06-23T04:56:37.168Z","id":"BamyhbNkDkMN4d5C","name":"Brain 2 - Shinawatra University","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"shinawatra-brain","responseMode":"responseNode","options":{}},"id":"webhook2","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1200,300],"webhookId":"shinawatra-brain"},{"parameters":{"operation":"get","propertyName":"stateRaw","key":"=n8n:shinawatra:{{$json.body.userId}}"},"id":"redisGet2","name":"Redis Get State","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-960,300],"credentials":{"redis":{"id":"6E4f36VbPUmo86lv","name":"Redis - Chatbot Brain"}}},{"parameters":{"jsCode":"let state;\ntry { state = JSON.parse($input.first().json.stateRaw || '{}'); } catch (e) { state = {}; }\nstate.history = state.history || [];\nstate.major = state.major || null; // RN, PN, HR, Engineering, EdAdminMaster, GradDip\nstate.degree = state.degree || null;\nstate.grade = state.grade || null;\nstate.track = state.track || null;\nstate.age = state.age || null;\nstate.weight = state.weight || null;\nstate.height = state.height || null;\nstate.govOrPrivate = state.govOrPrivate || null;\nstate.pnTrack = state.pnTrack || null; // ปกติ, พิเศษ\nstate.engineeringType = state.engineeringType || null; // เครื่องกล, ความปลอดภัย, 2ปริญญา\nstate.isSpobTeacher = state.isSpobTeacher ?? null; // ป.บัณฑิต: เป็นครูเครือ สพฐ. หรือไม่\nstate.pnDetailGiven = state.pnDetailGiven || false;\nstate.conversationEnded = state.conversationEnded || false;\nstate.detailGiven = state.detailGiven || false;\nstate.wantsAdmin = false;\n\nconst webhookBody = $('Webhook').first().json.body;\nconst userId = webhookBody.userId;\nconst channel = webhookBody.channel || 'general'; // 'general' หรือ 'nursing' ส่งมาจาก server.js\nconst persona = channel === 'nursing' ? 'อาจารย์' : 'แอดมิน';\nconst rawMessage = webhookBody.message || '';\nstate.history.push({ role: 'user', content: rawMessage });\n\nconst text = rawMessage.toLowerCase();\n// snapshot ก่อนแยกข้อมูล ใช้เช็คทีหลังว่าข้อความนี้ \"ให้ข้อมูลคัดกรองจริง\" หรือแค่ถามคำถามอื่นแทรก\nconst fieldsBefore = JSON.stringify({major: state.major, degree: state.degree, grade: state.grade, track: state.track, age: state.age, weight: state.weight, height: state.height, govOrPrivate: state.govOrPrivate, pnTrack: state.pnTrack, engineeringType: state.engineeringType, isSpobTeacher: state.isSpobTeacher});\n// เช็คก่อนว่าเป็นคำถาม (มี ไหม/มั้ย/เท่าไหร่ ฯลฯ) เพื่อกันไม่ให้ regex จับสาขาแบบหลวมๆ (เช่น คำว่า \"พยาบาล\" ลอยๆ) ไปเข้าใจผิดว่าลูกค้าเลือกสาขา ทั้งที่จริงแค่ถามคำถามแทรก\nconst hasQuestionMarker = /ไหม|มั้ย|ม้าย|หรอ|เท่าไหร่|เท่าไร|กี่|ยังไง|อย่างไร|ทำไม|ที่ไหน|เมื่อไหร่|รับรอง|ได้ไหม|ใช่ไหม|หรือเปล่า|ไหนคะ|ไหนครับ/.test(text);\nconst numbers = (rawMessage.match(/\\d+(\\.\\d+)?/g) || []).map(Number);\nconst decimalNumbers = (rawMessage.match(/\\d\\.\\d+/g) || []).map(Number); // เก็บไว้แยกต่างหาก กันเคสเกรด 3.0 ถูกตัดทศนิยมจนตรวจไม่เจอ\n\n// ----- กฎช่องทาง: ห้ามพูดพยาบาลในเพจทั่วไป / ห้ามพูดสาขาอื่นในเพจพยาบาล -----\nconst channelBlocked = (channel === 'general' && (text.includes('พยาบาล')))\n  || (channel === 'nursing' && state.major && !['RN','PN'].includes(state.major));\n\n// ----- ตรวจคำตอบรับสั้นๆ หลังจากให้รายละเอียดคอร์สไปแล้ว -----\nconst confirmWords = ['สนใจ', 'ใสใจ', 'สนจ', 'ใช่', 'ตกลง', 'โอเค', 'เอาเลย', 'ครับสนใจ', 'อยากสมัคร', 'สมัคร'];\nif (state.detailGiven && !state.conversationEnded && confirmWords.some(w => text.includes(w))) {\n  state.wantsAdmin = true;\n  const FORM_NURSING2 = 'https://forms.gle/MKg5NfUtvjj1xr2k7';\n  const FORM_ENGINEERING2 = 'https://forms.gle/nPJuM28hHuynxtp97';\n  const FORM_HR2 = 'https://forms.gle/YBXny8GdW1VAXocJ6';\n  const FORM_EDU2 = 'https://docs.google.com/forms/d/17Tq151nb8UH2C5QyL1EF922PzHrpGA_bCJhd7tnToLQ/viewform';\n  const QR_PAYMENT2 = 'https://raw.githubusercontent.com/pakasit14-Sayfa/shinawatra-chatbot/main/backend-middleware/public/images/shinawatra/payment-qr.png';\n  const formLink2 = ['RN','PN'].includes(state.major) ? FORM_NURSING2 : (state.major === 'Engineering' ? FORM_ENGINEERING2 : (state.major === 'HR' ? FORM_HR2 : (['EdAdminMaster','GradDip'].includes(state.major) ? FORM_EDU2 : null)));\n  if (formLink2) {\n    state.forcedAnswer = 'อาจารย์ส่งแบบฟอร์มการกรอกข้อมูลการสมัครนะคะ\\n' + formLink2 + '\\n![QR ชำระเงิน](' + QR_PAYMENT2 + ')\\n===\\nลูกชำระค่าสมัครเรียบร้อยแล้วแจ้งอาจารย์นะคะ อาจารย์นำรายชื่อเข้าระบบให้ก่อนค่ะ ส่วนเอกสารที่ขาดสามารถแนบในฟอร์มภายหลังได้ค่ะลูก';\n  }\n}\n\n// ----- ดึงสาขาที่สนใจ (deterministic) -----\nif (!state.major && !channelBlocked && !hasQuestionMarker) {\n  if (channel === 'nursing' || text.includes('พยาบาล')) {\n    const says1Year = /1\\s*ปี/.test(text);\n    if (text.includes('ผู้ช่วย') || /\\bpn\\b/.test(text) || says1Year) state.major = 'PN';\n    else if (/\\brn\\b/.test(text) || text.includes('พยาบาล')) state.major = 'RN';\n    // ถ้าพิมพ์ \"พยาบาล\" ลอยๆ ไม่ระบุ ให้รอถามก่อน (major ยังเป็น null)\n  } else if (text.includes('ทรัพยากรมนุษย์') || /\\bhr\\b/.test(text)) {\n    state.major = 'HR';\n  } else if (text.includes('วิศว') || text.includes('เครื่องกล') || text.includes('ความปลอดภัย') || /2\\s*ปริญญา|สองปริญญา/.test(text)) {\n    state.major = 'Engineering';\n  } else if (text.includes('บริหารการศึกษา') || text.includes('ป.โท')) {\n    state.major = 'EdAdminMaster';\n  } else if (text.includes('ป.บัณฑิต') || text.includes('บัณฑิตวิชาชีพครู')) {\n    state.major = 'GradDip';\n  }\n}\n\n// ----- ดึงวุฒิการศึกษา -----\nif (!state.degree) {\n  if (/กศน/.test(text)) state.degree = 'กศน.';\n  else if (/ม\\.?6|มัธยมศึกษาปีที่\\s*6|มัธยมปลาย/.test(text)) state.degree = 'ม.6';\n  else if (/ปวช/.test(text)) state.degree = 'ปวช.';\n  else if (/ปวส/.test(text)) state.degree = 'ปวส.';\n  else if (/ป\\.?ตรี|ปริญญาตรี|bachelor/.test(text)) state.degree = 'ปริญญาตรี';\n  else if (/ม\\.?\\s*[1-5]\\b|มัธยมต้น|มัธยมศึกษาปีที่\\s*[1-5]\\b|ป\\.?\\s*[1-6]\\b|ประถม/.test(text)) { state.degree = 'ต่ำกว่าเกณฑ์'; state.conversationEnded = true; }\n}\nif (['RN','PN'].includes(state.major) && state.degree === 'ต่ำกว่าเกณฑ์' && !state.forcedAnswer) {\n  state.forcedAnswer = 'หลักสูตรนี้รับสมัครขั้นต่ำที่วุฒิ ม.6 หรือเทียบเท่าเท่านั้นนะคะ วุฒิที่นักศึกษาแจ้งมายังไม่ถึงเกณฑ์ที่กำหนด ต้องขออภัยด้วยนะคะ';\n}\nif (!state.job && /ทำงาน|รับราชการ|พนักงาน|ธุรกิจส่วนตัว|อาชีพ|ครู/.test(text)) state.job = rawMessage;\nif (!state.experience && /ปี|ปีแล้ว|ประสบการณ์/.test(text)) state.experience = rawMessage;\n\n// ----- RN และ PN: เกรด/สาย/อายุ/น้ำหนัก/ส่วนสูง (เก็บข้อมูลเหมือนกัน แต่ PN ไม่มีเกณฑ์ตัดสิทธิ์) -----\n// เก็บได้ตลอดเวลาไม่ต้องรอรู้สาขาก่อน (ลูกค้าบางคนให้ข้อมูลมาก่อนบอกว่าเลือก RN/PN)\n{\n  if (!state.track) {\n    if (/วิทย์|วิทยาศาสตร์/.test(text)) state.track = 'วิทย์-คณิต';\n    else if (/สังคม|ศิลป์|ภาษา|ศิลภาษา/.test(text)) state.track = 'สายอื่นๆ';\n  }\n  if (state.grade === null) {\n    const g = decimalNumbers.find(n => n >= 0 && n <= 4);\n    if (g !== undefined) state.grade = g;\n  }\n  if (state.age === null) {\n    const a = numbers.find(n => n >= 10 && n <= 100 && Number.isInteger(n));\n    if (a !== undefined) state.age = a;\n  }\n  if (state.weight === null) {\n    const w = numbers.find(n => n >= 30 && n <= 150);\n    if (w !== undefined) state.weight = w;\n  }\n  if (state.height === null) {\n    const h = numbers.find(n => n >= 140 && n <= 210);\n    if (h !== undefined) state.height = h;\n  }\n}\n// RN รับเฉพาะวุฒิ ม.6 (สายสามัญ) เท่านั้น สายอาชีพ (ปวช./ปวส./ป.ตรี) และ กศน. ไม่รับ\nif (state.major === 'RN' && state.degree && state.degree !== 'ม.6' && !state.conversationEnded) {\n  state.conversationEnded = true;\n  state.forcedAnswer = 'หลักสูตรพยาบาล (RN) รับเฉพาะวุฒิ ม.6 สายสามัญเท่านั้นนะคะ วุฒิที่นักศึกษาแจ้งมายังไม่สามารถสมัครหลักสูตรนี้ได้ ต้องขออภัยด้วยนะคะ หากนักศึกษาสนใจหลักสูตรผู้ช่วยพยาบาล (PN) แทน สามารถแจ้งอาจารย์ได้เลยนะคะ';\n}\n\n// ----- เฉพาะ PN: เลือกภาคปกติ/พิเศษ -----\nif (state.major === 'PN' && !state.pnTrack) {\n  if (/พิเศษ|เสาร์|อาทิตย์/.test(text)) state.pnTrack = 'พิเศษ';\n  else if (/ปกติ|จันทร์|ศุกร์/.test(text)) state.pnTrack = 'ปกติ';\n}\n\n// ----- เฉพาะ Engineering: เลือกหลักสูตร (เครื่องกล/ความปลอดภัย/2ปริญญา) -----\nif (state.major === 'Engineering' && !state.engineeringType) {\n  const hasMech = /เครื่องกล/.test(text);\n  const hasSafety = /ความปลอดภัย/.test(text);\n  if (hasMech && hasSafety) state.engineeringType = '2ปริญญา';\n  else if (/2\\s*ปริญญา|สองปริญญา/.test(text)) state.engineeringType = '2ปริญญา';\n  else if (hasMech) state.engineeringType = 'เครื่องกล';\n  else if (hasSafety) state.engineeringType = 'ความปลอดภัย';\n}\n\n// ----- เฉพาะ HR: ที่ทำงานรัฐ/เอกชน -----\nif (state.major === 'HR' && !state.govOrPrivate) {\n  if (/รัฐ|ราชการ|รัฐวิสาหกิจ/.test(text)) state.govOrPrivate = 'รัฐ';\n  else if (/เอกชน|บริษัท/.test(text)) state.govOrPrivate = 'เอกชน';\n}\n\n// ----- เฉพาะ GradDip: เป็นครูเครือ สพฐ. หรือไม่ -----\nif (state.major === 'GradDip' && state.isSpobTeacher === null) {\n  if (/ไม่ใช่|ไม่ได้เป็น|ไม่มี/.test(text)) state.isSpobTeacher = false;\n  else if (/เป็นครู|ใช่|สพฐ/.test(text)) state.isSpobTeacher = true;\n}\nif (state.major === 'GradDip' && state.isSpobTeacher === false) state.conversationEnded = true;\n\n// ----- เช็คว่าข้อมูลครบหรือยังตาม major -----\nfunction infoCompleteFor(major) {\n  if (major === 'RN' || major === 'PN') {\n    // \"สายการเรียน\" (วิทย์/ศิลป์) ต้องเก็บแค่ RN เท่านั้น (รับแค่ ม.6) ส่วน PN ไม่ต้องเก็บเลยไม่ว่าวุฒิจะเป็นอะไร\n    const trackOk = major === 'RN' ? !!state.track : true;\n    return !!(state.degree && state.grade !== null && trackOk && state.age !== null && state.weight !== null && state.height !== null);\n  }\n  if (major === 'HR') return state.degree && state.govOrPrivate;\n  if (major === 'Engineering') return !!(state.degree && state.engineeringType);\n  if (major === 'EdAdminMaster') return !!state.degree;\n  if (major === 'GradDip') return state.isSpobTeacher !== null;\n  return false;\n}\nconst infoComplete = state.major ? infoCompleteFor(state.major) : false;\n// RN/PN ข้อมูลยังไม่ครบ -> ส่งคำถามแบบตายตัวเสมอ (ไม่ผ่าน AI เด็ดขาด กัน AI วนตอบฟอร์มเปล่าซ้ำทั้งที่มีข้อมูลแล้วบางส่วน)\n// ถ้ายังไม่ต้องใช้สายการเรียน (วุฒิไม่ใช่ ม.6) ไม่ต้องถามช่องนี้เลย\nif (['RN','PN'].includes(state.major) && !infoComplete && !state.conversationEnded) {\n  const needsTrack = state.major === 'RN'; // เฉพาะ RN เท่านั้น (รับแค่ ม.6) PN ไม่ต้องเก็บสายการเรียนเลยไม่ว่าวุฒิจะเป็นอะไร\n  const rows = [\n    '- จบวุฒิการศึกษา = ' + (state.degree || ''),\n    '- เกรดเฉลี่ย = ' + (state.grade !== null ? state.grade : ''),\n  ];\n  if (needsTrack) rows.push('- สายการเรียน = ' + (state.track || ''));\n  rows.push('- อายุ = ' + (state.age !== null ? state.age : ''));\n  rows.push('- น้ำหนัก = ' + (state.weight !== null ? state.weight : ''));\n  rows.push('- ส่วนสูง = ' + (state.height !== null ? state.height : ''));\n  state.forcedAnswer = 'อาจารย์ขอสอบถามข้อมูลเบื้องต้นของนักศึกษาก่อนนะคะ\\n' + rows.join('\\n') + '\\nนักศึกษาแจ้งข้อมูลที่ยังขาดเพื่อประเมินคุณสมบัติได้เลยนะคะ';\n}\n\n// ----- ถ้าครบแล้วและเป็น RN ให้คำนวณเกณฑ์แบบ deterministic -----\nlet rnEligible = null;\nlet rnFailReasons = [];\nif (state.major === 'RN' && infoComplete && !state.conversationEnded) {\n  const heightM = state.height / 100;\n  const bmi = state.weight / (heightM * heightM);\n  const gradeMin = state.track === 'วิทย์-คณิต' ? 2.00 : 2.50;\n  if (!(bmi >= 17.5 && bmi <= 30)) rnFailReasons.push('BMI');\n  if (!(state.height >= 150)) rnFailReasons.push('ส่วนสูง');\n  if (!(state.weight >= 40)) rnFailReasons.push('น้ำหนัก');\n  if (!(state.age >= 16 && state.age <= 30)) rnFailReasons.push('อายุ');\n  if (!(state.grade >= gradeMin)) rnFailReasons.push('เกรดเฉลี่ย');\n  rnEligible = rnFailReasons.length === 0;\n}\n// ผ่านเกณฑ์ RN -> ส่งข้อความ+รูปแบบตายตัว ไม่ผ่าน -> ส่งต่อแอดมินทันที (ตามสเปคที่ทีมให้มา)\nif (state.major === 'RN' && infoComplete && !state.detailGiven) {\n  state.forcedAnswer = rnEligible\n    ? 'เกณฑ์คุณสมบัติเบื้องต้นผ่านนะคะ อาจารยส่งรายละเอียดให้ค่ะ\\n===\\n![ตารางผ่อนชำระกรณีกู้ กยศ.](https://raw.githubusercontent.com/pakasit14-Sayfa/shinawatra-chatbot/main/backend-middleware/public/images/shinawatra/nursing/rn-loan-installment-table.jpg)\\n===\\nนักศึกษาสามารถทำเรื่องยื่นกู้ กยศ. เพื่อลดภาระค่าเทอมได้ค่ะ แต่ในการยื่นกู้ทาง กยศ. จะเป็นคนพิจารณาอีกครั้งว่าจะผ่านไม่ผ่านค่ะ ในกรณีกู้ กยศ. แล้วผ่านไม่ต้องสำรองจ่าย ชำระเพียงค่าส่วนต่างเท่านั้นนะคะ แต่ในส่วนที่ยื่นแล้วผลไม่ผ่านนักศึกษาจะต้องมีสำรองจ่ายไว้ค่ะ\\n\\nค่าสมัครเพียง 1,000 บาทเท่านั้นค่ะ ชำระผ่านบัญชีธนาคารของมหาวิทยาลัยโดยตรงค่ะ\\n===\\nถ้าหากนักศึกษาสนใจสมัคร แจ้งอาจารย์ได้ในแชทนี้เลยนะคะ อาจารย์จะมีฟอร์มให้นักศึกษากรอกข้อมูลการสมัครค่ะ'\n    : 'เดี๋ยวอาจารย์ติดต่อไปให้ข้อมูลเพิ่มเติมนะคะ';\n}\n\n// ----- PN: เกณฑ์อายุ/ส่วนสูง/น้ำหนักตัดสิทธิ์ได้ ส่วน BMI แค่ข้อมูลไว้พูดคุย ไม่ตัดสิทธิ์ -----\nlet pnEligible = null;\nlet pnFailReasons = [];\nif (state.major === 'PN' && infoComplete) {\n  if (!(state.height >= 150)) pnFailReasons.push('ส่วนสูง');\n  if (!(state.weight >= 40)) pnFailReasons.push('น้ำหนัก');\n  if (!(state.age >= 16 && state.age <= 60)) pnFailReasons.push('อายุ');\n  pnEligible = pnFailReasons.length === 0;\n}\nif (state.major === 'PN' && infoComplete && !state.detailGiven) {\n  state.forcedAnswer = pnEligible\n    ? 'เกณฑ์คุณสมบัติเบื้องต้นผ่านนะคะ อาจารยส่งรายละเอียดให้ค่ะ\\n===\\n![ตารางค่าเทอมผู้ช่วยพยาบาล](https://raw.githubusercontent.com/pakasit14-Sayfa/shinawatra-chatbot/main/backend-middleware/public/images/shinawatra/nursing/pn-tuition-table.jpg)\\n===\\n📢 ขณะนี้หลักสูตรผู้ช่วยพยาบาล สามารถดำเนินการยื่นกู้กองทุนเงินให้กู้ยืมเพื่อการศึกษา (กยศ.) ได้แล้ว\\n- นักศึกษาสามารถกู้ยืมได้สูงสุด 50,000 บาท ตลอดหลักสูตร (การกู้ กยศ.จะขึ้นอยู่กับการพิจารณาของทาง กยศ.เท่านั้น)\\n- สำหรับภาคเรียนที่ 1 มีค่าใช้จ่ายส่วนต่างที่นักศึกษาต้องชำระเพิ่มเติมจำนวน 31,000 บาท (รวมค่าสมัคร 500 บาท)\\n- สำหรับค่าเล่าเรียน ภาคเรียนที่ 2 และ 3 นักศึกษาจำเป็นต้องสำรองชำระค่าใช้จ่ายล่วงหน้า จำนวน 50,000 บาท\\n\\nรายละเอียดการชำระค่าเล่าเรียน ภาคเรียนที่ 1 มีดังนี้\\n1. ชำระค่าสมัครจำนวน 500 บาท ในวันสมัคร เพื่อให้ทางอาจารย์ดำเนินการจัดทำเอกสารและบันทึกรายชื่อเข้าสู่ระบบรับสมัครของมหาวิทยาลัย\\n2. ชำระค่าเล่าเรียน ภาคเรียนที่ 1 งวดที่ 1 จำนวน 5,000 บาท ภายใน 1 สัปดาห์ หลังจากชำระค่าสมัครเรียบร้อยแล้ว\\n3. ชำระค่าเล่าเรียน ภาคเรียนที่ 1 งวดที่ 2 จำนวน 10,000 บาท ภายใน 1 สัปดาห์ หลังจากรายงานตัวเรียบร้อยแล้ว (หรือสามารถชำระพร้อมกันได้ตามความสะดวก)\\n4. ค่าเล่าเรียน ภาคเรียนที่ 1 ส่วนที่เหลือจำนวน 15,500 บาท สามารถทยอยชำระให้ครบก่อนวันเปิดภาคเรียน\\n===\\nถ้าหากนักศึกษาสนใจสมัคร แจ้งอาจารย์ได้ในแชทนี้เลยนะคะ อาจารย์จะมีฟอร์มให้นักศึกษากรอกข้อมูลการสมัครค่ะ'\n    : 'เดี๋ยวอาจารย์ติดต่อไปให้ข้อมูลเพิ่มเติมนะคะ';\n}\n\n// ให้รายละเอียดคอร์ส PN แบบตายตัว (จัดบรรทัด/bullet เหมือนสไตล์ RN) เพื่อความแน่นอน ไม่ผ่าน AI\nif (state.major === 'PN' && pnEligible && state.pnTrack && !state.pnDetailGiven) {\n  const pnLocation = state.pnTrack === 'พิเศษ' ? 'อาคาร OAI ย่านอโศก กรุงเทพมหานคร (เข้าแลบ/ฝึกงานต้องไปปทุมธานี)' : 'มหาวิทยาลัยชินวัตร จังหวัดปทุมธานี';\n  state.forcedAnswer = 'คุณสมบัติเบื้องต้นของลูกผ่านแล้วนะคะ\\nอาจารย์ขอสรุปรายละเอียดหลักสูตรผู้ช่วยพยาบาล ภาค' + state.pnTrack + ' ให้นะคะ\\n- ระยะเวลาเรียน: 1 ปี\\n- สถานที่เรียน: ' + pnLocation + '\\n- ค่าสมัคร: 500 บาท\\n- ค่าใช้จ่ายภาคเรียนที่ 1: 31,000 บาท (รวมค่าสมัครแล้ว)\\n- ภาคเรียนที่ 2-3: สำรองชำระล่วงหน้า 50,000 บาท\\n- กู้ กยศ. ได้สูงสุด 50,000 บาทตลอดหลักสูตร (อนุมัติตามเงื่อนไข กยศ.)\\nสนใจสมัครเลยไหมคะ';\n  state.pnDetailGiven = true;\n}\n\nif (infoComplete) state.detailGiven = true;\n\n// ----- เช็คว่าข้อความนี้เป็นคำถามแทรกที่อยู่นอกขอบเขตงานคัดกรองหรือไม่ -----\n// ระบบนี้ทำหน้าที่แค่คัดกรองข้อมูลเบื้องต้น (เลือกสาขา + กรอกข้อมูลตามเกณฑ์) เท่านั้น\n// คำถามอื่นๆ (ค่าเทอม, ที่ตั้ง, กยศ., การรับรอง ฯลฯ) ให้ส่งต่อแอดมินจริงแทนการให้ AI เดาตอบ\nconst fieldsAfter = JSON.stringify({major: state.major, degree: state.degree, grade: state.grade, track: state.track, age: state.age, weight: state.weight, height: state.height, govOrPrivate: state.govOrPrivate, pnTrack: state.pnTrack, engineeringType: state.engineeringType, isSpobTeacher: state.isSpobTeacher});\nconst extractedSomethingNew = fieldsBefore !== fieldsAfter;\nconst isGreetingOnly = /^(สวัสดี|หวัดดี|หัดดี|ดีครับ|ดีค่ะ|hi|hello)/.test(text.trim());\nconst offTopic = !channelBlocked && !state.conversationEnded && !state.wantsAdmin && !extractedSomethingNew && !isGreetingOnly && hasQuestionMarker;\n\nreturn [{\n  json: {\n    ...state,\n    userId,\n    channel,\n    persona,\n    channelBlocked,\n    infoComplete,\n    rnEligible,\n    rnFailReasons,\n    pnEligible,\n    pnFailReasons,\n    offTopic\n  }\n}];"},"id":"extractCode2","name":"Extract Info (Deterministic)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,300]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'gpt-4o-mini', temperature: 0.5, messages: [ { role: 'system', content: 'คุณคือ \"' + $json.persona + '\" เจ้าหน้าที่ฝ่ายรับสมัคร มหาวิทยาลัยชินวัตร เรียกลูกค้าว่า \"' + ($json.channel === 'nursing' ? 'ลูก' : 'นักศึกษา') + '\" เสมอ (ห้ามใช้คำว่า ท่าน หรือ คุณ' + ($json.channel === 'nursing' ? ' หรือ นักศึกษา' : '') + ') พูดสุภาพ ลงท้ายด้วยค่ะ/นะคะเสมอ ห้ามใช้ครับ ตอบกระชับเป็นธรรมชาติ ห้ามพิมพ์ตัวเลข/ราคาที่ไม่ได้ให้มาในข้อมูลนี้เอง ห้ามมั่วข้อมูล ตัวเลขทุกตัว (ราคา, จำนวนปี, จำนวนที่นั่ง ฯลฯ) ต้องเขียนเป็นเลขอารบิกเสมอ (เช่น 150,000 บาท, 4 ปี) ห้ามสะกดเป็นคำอ่านภาษาไทยเด็ดขาด (ห้ามเขียนว่า หนึ่งแสนห้าหมื่นบาท หรือ สี่ปี) ห้ามใช้เครื่องหมาย ! (อัศเจรีย์) เด็ดขาดในทุกประโยค โดยเฉพาะประโยคชวนถามเพิ่มเติม ให้ลงท้ายด้วย \"นะคะ\" เสมอ ห้ามใช้ \"ค่ะ!\" ถ้าจะปิดท้ายด้วยการชวนถามเพิ่มเติม ให้ใช้ข้อความนี้เป๊ะๆเท่านั้น ห้ามแต่งเอง ห้ามชี้นำหัวข้อคำถาม: \"หากมีคำถามสอบถามเพิ่มเติมสามารถสอบถามอาจารย์ได้เลยนะคะ\". ข้อมูลที่ต้องใช้ตอบ (ห้ามมั่ว ใช้ตามนี้เท่านั้น): ' + (function(){ const j = $json; let facts = ''; const FORM_NURSING = 'https://forms.gle/MKg5NfUtvjj1xr2k7'; const FORM_ENGINEERING = 'https://forms.gle/nPJuM28hHuynxtp97'; const FORM_HR = 'https://forms.gle/YBXny8GdW1VAXocJ6'; const FORM_EDU = 'https://docs.google.com/forms/d/17Tq151nb8UH2C5QyL1EF922PzHrpGA_bCJhd7tnToLQ/viewform'; if (j.channelBlocked) { facts = 'ลูกค้าถามเรื่องที่ช่องทางนี้ตอบไม่ได้ (เพจทั่วไปห้ามพูดพยาบาล หรือเพจพยาบาลห้ามพูดสาขาอื่น) ให้แนะนำไปเพจที่ถูกต้องอย่างสุภาพสั้นๆ ห้ามถามข้อมูลอะไรต่อ'; } else if (j.offTopic) { facts = 'ลูกค้าถามคำถามที่อยู่นอกเหนือขอบเขตงานคัดกรองเบื้องต้น (ไม่ใช่การเลือกสาขาหรือให้ข้อมูลคัดกรอง) ห้ามพยายามตอบคำถามนั้นเองเด็ดขาด ห้ามมั่ว ให้ตอบสั้นๆ ว่าจะให้อาจารย์ติดต่อไปให้ข้อมูลเพิ่มเติมโดยตรง เช่น \"เดี๋ยวอาจารย์ติดต่อไปให้ข้อมูลเพิ่มเติมนะคะ\" ห้ามถามข้อมูลคัดกรองต่อในข้อความนี้'; } else if (j.major === 'RN' && j.conversationEnded) { facts = 'ตอบเป๊ะๆ ห้ามแต่งเพิ่ม: \"หลักสูตรพยาบาล (RN) รับเฉพาะวุฒิ ม.6 สายสามัญเท่านั้นนะคะ วุฒิที่นักศึกษาแจ้งมายังไม่สามารถสมัครหลักสูตรนี้ได้ ต้องขออภัยด้วยนะคะ หากนักศึกษาสนใจหลักสูตรผู้ช่วยพยาบาล (PN) แทน สามารถแจ้งอาจารย์ได้เลยนะคะ\"'; } else if (j.major === 'GradDip' && j.conversationEnded) { facts = 'ลูกค้าไม่ได้เป็นครูในโรงเรียนเครือ สพฐ. ซึ่งเป็นเงื่อนไขจำเป็นของหลักสูตร ป.บัณฑิต ให้แจ้งสุภาพว่าหลักสูตรนี้รับเฉพาะครูที่มีเอกสารรับรองการทำงานในโรงเรียนเครือ สพฐ. เท่านั้น ขออภัยในความไม่สะดวก'; } else if (j.wantsAdmin) {   const formLink = ['RN','PN'].includes(j.major) ? FORM_NURSING : (j.major === 'Engineering' ? FORM_ENGINEERING : (j.major === 'HR' ? FORM_HR : (['EdAdminMaster','GradDip'].includes(j.major) ? FORM_EDU : null)));   const QR_PAYMENT = 'https://raw.githubusercontent.com/pakasit14-Sayfa/shinawatra-chatbot/main/backend-middleware/public/images/shinawatra/payment-qr.png';   if (formLink) { facts = 'ลูกค้าสนใจสมัครแล้ว ตอบเป๊ะๆ คำต่อคำ ห้ามแต่งเพิ่ม ห้ามตัดคำ: อาจารย์ส่งแบบฟอร์มการกรอกข้อมูลการสมัครนะคะ\\n' + formLink + '\\n![QR ชำระเงิน](' + QR_PAYMENT + ')\\n===\\nลูกชำระค่าสมัครเรียบร้อยแล้วแจ้งอาจารย์นะคะ อาจารย์นำรายชื่อเข้าระบบให้ก่อนค่ะ ส่วนเอกสารที่ขาดสามารถแนบในฟอร์มภายหลังได้ค่ะลูก'; }   else { facts = 'ลูกค้าตอบรับสนใจสมัครแล้วหลังจากได้รับรายละเอียดคอร์ส ให้ตอบรับสั้นๆ ว่าจะให้เจ้าหน้าที่ติดต่อนัดหมายต่อ แจ้งเบอร์ 082-383-0243 และ Line: @siu.admission'; } } else if (!j.major && j.channel === 'nursing') { facts = 'ยังไม่ทราบว่าลูกค้าสนใจหลักสูตรไหน ให้ตอบด้วยข้อความนี้เป๊ะๆ คำต่อคำตัวอักษรต่อตัวอักษร ห้ามแก้ไข ห้ามพูดถึง HR/วิศวะ/ป.โท/ป.บัณฑิตเด็ดขาด (เพจนี้มีแค่พยาบาลเท่านั้น) ต้องขึ้นบรรทัดใหม่ตรงตามนี้เป๊ะๆ: \"สวัสดีค่ะ ลูก\\nยินดีต้อนรับสู่มหาวิทยาลัยชินวัตรค่ะ สนใจหลักสูตรพยาบาลไหนคะ\\n- หลักสูตรพยาบาล (RN 4ปี)\\n- หลักสูตรผู้ช่วยพยาบาล (PN 1ปี)\\n(ภาคปกติ - ภาคพิเศษ)\\nสนใจหลักสูตรใดแจ้งอาจารย์ได้เลยนะคะ\"'; } else if (!j.major) { facts = 'ยังไม่ทราบว่าลูกค้าสนใจสาขาไหน ให้ทักทายสุภาพแล้วถามว่าสนใจหลักสูตรไหนคะ (เลือกได้เฉพาะ: ทรัพยากรมนุษย์ HR, วิศวกรรมศาสตร์, ป.โทบริหารการศึกษา, ป.บัณฑิตวิชาชีพครู) ห้ามพูดถึงพยาบาลหรือผู้ช่วยพยาบาลเด็ดขาด (เพจนี้ไม่มีหลักสูตรพยาบาล)'; } else if (!j.infoComplete) {   const noInfoYet = !j.degree && j.grade === null && !j.track && j.age === null && j.weight === null && j.height === null;   const sixFieldTemplate = 'ตอบด้วยข้อความนี้เป๊ะๆ คำต่อคำ ห้ามแก้ไข ห้ามเพิ่มประโยคทักทายหรือประโยคย้ำว่านักศึกษาเลือกสาขาอะไร: \"อาจารย์ขอสอบถามข้อมูลเบื้องต้นของนักศึกษาก่อนนะคะ\\n- จบวุฒิการศึกษา =\\n- เกรดเฉลี่ย =\\n- สายการเรียน =\\n- อายุ =\\n- น้ำหนัก =\\n- ส่วนสูง =\\nนักศึกษาแจ้งข้อมูลข้างต้นเพื่อประเมินคุณสมบัติได้เลยนะคะ\"';   if (j.major === 'RN') { facts = noInfoYet ? sixFieldTemplate : ('สาขาที่ลูกค้าสนใจ: RN (พยาบาลศาสตร์). ข้อมูลที่มีแล้ว (ห้ามถามซ้ำ): วุฒิ=' + (j.degree||'-') + ' เกรด=' + (j.grade??'-') + ' สาย=' + (j.track||'-') + ' อายุ=' + (j.age??'-') + ' น้ำหนัก=' + (j.weight??'-') + ' ส่วนสูง=' + (j.height??'-') + '. ให้ถามเฉพาะข้อมูลที่ยังขาดจากรายการนี้เท่านั้น: วุฒิการศึกษา, เกรดเฉลี่ย, สายการเรียน, อายุ, น้ำหนัก(กก.), ส่วนสูง(ซม.)'); }   else if (j.major === 'PN') { facts = sixFieldTemplate; }   else if (j.major === 'Engineering') { facts = 'สาขาที่ลูกค้าสนใจ: วิศวกรรมศาสตร์. ข้อมูลที่มีแล้ว (ห้ามถามซ้ำ): วุฒิ=' + (j.degree||'-') + ' หลักสูตร=' + (j.engineeringType||'-') + '. ให้ถามเฉพาะข้อมูลที่ยังขาด: วุฒิการศึกษา, และสนใจหลักสูตรเครื่องกล, ความปลอดภัย, หรือหลักสูตร 2 ปริญญา (เรียนทั้งเครื่องกล+ความปลอดภัยพร้อมกัน)'; }   else if (j.major === 'GradDip') { facts = 'สาขาที่ลูกค้าสนใจ: ป.บัณฑิตวิชาชีพครู ให้ถามว่าเป็นครูในโรงเรียนเครือ สพฐ. ที่มีเอกสารรับรองการทำงานในตำแหน่งครูผู้สอนหรือไม่ (เป็นเงื่อนไขจำเป็น)'; }   else if (j.major === 'HR') { facts = 'สาขาที่ลูกค้าสนใจ: HR (ทรัพยากรมนุษย์). ข้อมูลที่มีแล้ว (ห้ามถามซ้ำ): วุฒิ=' + (j.degree||'-') + ' หน่วยงาน=' + (j.govOrPrivate||'-') + '. ให้ถามเฉพาะข้อมูลที่ยังขาด: วุฒิการศึกษา และปัจจุบันทำงานหน่วยงานรัฐหรือเอกชน'; }   else { facts = 'สาขาที่ลูกค้าสนใจ: ป.โทบริหารการศึกษา. ข้อมูลที่มีแล้ว (ห้ามถามซ้ำ): วุฒิ=' + (j.degree||'-') + '. ให้ถามวุฒิการศึกษา (ต้องมีใบประกอบวิชาชีพครู)'; } } else if (j.major === 'RN') {   facts = j.rnEligible     ? 'ลูกค้าผ่านเกณฑ์คุณสมบัติเบื้องต้นสำหรับ RN แล้ว ให้ตอบเป๊ะๆ คำต่อคำ ห้ามแต่งเพิ่ม ห้ามใส่รายละเอียดค่าเทอม/โควต้า/เงื่อนไขใดๆ เพิ่มเด็ดขาด ตอบเป็น 2 ข้อความแยกกันด้วย === แบบนี้: \"คุณสมบัติเบื้องต้นของลูกผ่านเกณฑ์นะคะ อาจารยส่งรายละเอียดให้ค่ะ === ![ตารางผ่อนชำระกรณีกู้ กยศ.](https://raw.githubusercontent.com/pakasit14-Sayfa/shinawatra-chatbot/main/backend-middleware/public/images/shinawatra/nursing/rn-loan-installment-table.jpg)\"'     : 'ลูกค้าไม่ผ่านเกณฑ์ RN เนื่องจาก: ' + j.rnFailReasons.join(', ') + ' ให้แจ้งสุภาพว่าไม่ผ่านเกณฑ์ข้อไหน และแนะนำพิจารณาหลักสูตรผู้ช่วยพยาบาล (PN) แทน'; } else if (j.major === 'PN' && !j.pnEligible) { facts = 'ลูกค้าไม่ผ่านเกณฑ์ PN เนื่องจาก: ' + j.pnFailReasons.join(', ') + ' ให้แจ้งสุภาพว่าไม่ผ่านเกณฑ์ข้อไหน'; } else if (j.major === 'PN' && !j.pnTrack) { facts = 'ลูกให้ข้อมูลครบแล้ว แต่ยังไม่ทราบว่าต้องการเรียนภาคไหน ให้ตอบสั้นๆ ว่าคุณสมบัติเบื้องต้นผ่านแล้ว แล้วถามว่าต้องการเรียนภาคปกติ (จันทร์-ศุกร์ ที่ปทุมธานี) หรือภาคพิเศษ (เสาร์-อาทิตย์ ที่อโศก)'; } else if (j.major === 'PN') {   const locationLine = j.pnTrack === 'พิเศษ' ? 'เรียนที่อาคาร OAI ย่านอโศก กรุงเทพมหานคร (เข้าแลบ/ฝึกงานต้องไปปทุมธานี)' : 'เรียนที่มหาวิทยาลัยชินวัตร จังหวัดปทุมธานี';   facts = 'PN (ผู้ช่วยพยาบาล 1 ปี ภาค' + j.pnTrack + ' ' + locationLine + ') ค่าสมัคร 500 บาท ภาคเรียนที่ 1 มีค่าใช้จ่ายส่วนต่าง 31,000 บาท (รวมค่าสมัครแล้ว) แบ่งชำระได้ ภาคเรียนที่ 2-3 สำรองชำระล่วงหน้า 50,000 บาท กู้ กยศ.ได้สูงสุด 50,000 บาทตลอดหลักสูตร (อนุมัติตามเงื่อนไข กยศ.) ให้สรุปข้อมูลคอร์สแล้วถามว่าสนใจสมัครเลยไหมคะ'; } else if (j.major === 'HR') {   const fee = j.govOrPrivate === 'รัฐ' ? '18,750 บาท/เทอม (มี 2 ทุนรวมกัน: ทุนลด 5,000 บาท และทุนลด 25% จากปกติ 30,000 บาท)' : '25,000 บาท/เทอม (มีทุนส่วนลด 5,000 บาท จากปกติ 30,000 บาท)';   facts = 'HRM การจัดการทรัพยากรมนุษย์ (เรียนออนไลน์วันอาทิตย์ Block course, เทียบโอนได้ สายบริหารธุรกิจเหลือเรียนประมาณ 1.5 ปี) ลูกค้าทำงาน ' + j.govOrPrivate + ' ค่าเทอม ' + fee + ' ผ่อนชำระรายเดือนได้ ให้สรุปแล้วถามว่าสนใจสมัครเลยไหมคะ'; } else if (j.major === 'Engineering') {   const isTransfer = ['ปวส.','ปริญญาตรี'].includes(j.degree);   let detail = '';   if (j.engineeringType === 'เครื่องกล') detail = isTransfer ? 'เทียบโอนเหลือเรียน 2 ปี ค่าเทอมเหมา 150,000 บาท' : 'เรียนเต็ม 4 ปี ค่าเทอม 280,000 บาท';   else if (j.engineeringType === 'ความปลอดภัย') detail = isTransfer ? 'เทียบโอนเหลือเรียน 2 ปี ค่าเทอมเหมา 150,000 บาท' : 'เรียนเต็ม 3 ปี ค่าเทอม 280,000 บาท';   else detail = isTransfer ? 'เทียบโอนเหลือเรียน 3 ปี ค่าเทอมตลอดหลักสูตร 255,000 บาท' : 'เรียนเต็ม 4 ปี ค่าเทอมตลอดหลักสูตร 320,000 บาท';   facts = 'วิศวกรรมศาสตร์ หลักสูตร' + j.engineeringType + ' (เรียนออนไลน์+ออนไซต์ วันธรรมดาภาคค่ำ 19:00-21:00 ไม่ทุกวัน + วันอาทิตย์เต็มวันออนไลน์ เข้ามหาวิทยาลัยน้อยมาก) วุฒิลูกค้า=' + j.degree + ' ' + detail + '. เครื่องกลรับรองจากสภาวิศวกร ได้สิทธิ์สอบ กว. / ความปลอดภัยรับรองจากกรมสวัสดิการและคุ้มครองแรงงาน ได้ใบประกอบวิชาชีพ จป.เลยไม่ต้องสอบเพิ่ม ให้สรุปแล้วถามว่าสนใจสมัครเลยไหมคะ'; } else if (j.major === 'EdAdminMaster') { facts = 'ป.โทบริหารการศึกษา (เรียนวันอาทิตย์ 2 ปี, ค่าเทอม 150,000 บาท แบ่ง 7 งวด, ค่าสมัคร 1,500 บาท, ต้องมีใบประกอบวิชาชีพครู, หลักสูตรคุรุสภารับรอง, เมื่อเรียนจบสามารถนำวุฒิยื่นขอใบประกอบวิชาชีพผู้บริหารสถานศึกษาได้เลยไม่ต้องสอบเพิ่มเติม) ให้สรุปแล้วถามว่ามีใบประกอบวิชาชีพครูหรือยัง และถามว่าสนใจสมัครเลยไหมคะ'; } else if (j.major === 'GradDip') { facts = 'ป.บัณฑิตวิชาชีพครู (ลูกค้าเป็นครูเครือ สพฐ. ผ่านเงื่อนไขแล้ว) เรียนออนไลน์เป็นหลัก วันเสาร์หรืออาทิตย์ขึ้นกับอาจารย์ผู้สอน เปิดภาคเรียนเดือนธันวาคม 2569 ค่าสมัคร 1,500 บาท ค่าเทอมตลอดหลักสูตร 54,000 บาท ผ่อนชำระรายเดือนได้ ระยะเวลา 1.5 ปี (3 เทอม) เข้าร่วมกิจกรรมที่มหาวิทยาลัยเทอมละ 1 ครั้ง (รวม 3 ครั้งตลอดหลักสูตร) หลักสูตรคุรุสภารับรอง เมื่อเรียนจบมีสิทธิ์สอบใบประกอบวิชาชีพครู ให้สรุปแล้วถามว่าสนใจสมัครเลยไหมคะ'; } return facts; })() }, ...$json.history ] }) }}","options":{}},"id":"openaiReply2","name":"AI - Generate Reply","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,300],"credentials":{"httpHeaderAuth":{"id":"eoikRoa7Qb4pyyxv","name":"OpenAI Header Auth - Chatbot Brain"}}},{"parameters":{"jsCode":"const incoming = $input.first().json;\nconst state = $('Extract Info (Deterministic)').first().json;\n// ถ้า Extract Info กำหนดคำตอบตายตัวไว้แล้ว (เช่น ข้อความส่งฟอร์ม+QR) ให้ใช้ตรงนั้นเลย ไม่ใช้คำตอบจาก AI\n// เพราะ gpt-4o-mini มักแก้คำ/ลืมรายละเอียดเมื่อข้อความมีหลายส่วนประกอบ (ลิงก์+รูป+คำเรียกเฉพาะ)\nconst answer = state.forcedAnswer || incoming.choices[0].message.content;\nstate.history.push({ role: 'assistant', content: answer });\nreturn [{ json: { ...state, answer } }];"},"id":"mergeAnswer2","name":"Merge Answer","type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,300]},{"parameters":{"operation":"set","key":"=n8n:shinawatra:{{$json.userId}}","value":"={{ JSON.stringify({history: $json.history, major: $json.major, degree: $json.degree, job: $json.job, experience: $json.experience, grade: $json.grade, track: $json.track, age: $json.age, weight: $json.weight, height: $json.height, govOrPrivate: $json.govOrPrivate, pnTrack: $json.pnTrack, engineeringType: $json.engineeringType, isSpobTeacher: $json.isSpobTeacher, conversationEnded: $json.conversationEnded, detailGiven: $json.detailGiven, pnDetailGiven: $json.pnDetailGiven}) }}","expire":true,"ttl":2592000},"id":"redisSet2","name":"Redis Save State","type":"n8n-nodes-base.redis","typeVersion":1,"position":[0,300],"credentials":{"redis":{"id":"6E4f36VbPUmo86lv","name":"Redis - Chatbot Brain"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { answer: $json.answer } }}","options":{}},"id":"respond2","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[240,300]}],"connections":{"Webhook":{"main":[[{"node":"Redis Get State","type":"main","index":0}]]},"Redis Get State":{"main":[[{"node":"Extract Info (Deterministic)","type":"main","index":0}]]},"Extract Info (Deterministic)":{"main":[[{"node":"AI - Generate Reply","type":"main","index":0}]]},"AI - Generate Reply":{"main":[[{"node":"Merge Answer","type":"main","index":0}]]},"Merge Answer":{"main":[[{"node":"Redis Save State","type":"main","index":0}]]},"Redis Save State":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"c892d424-6c00-466c-a6c2-3d2f15a17302","activeVersionId":"c892d424-6c00-466c-a6c2-3d2f15a17302","versionCounter":43,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-23T04:56:37.172Z","createdAt":"2026-06-23T04:56:37.172Z","role":"workflow:owner","workflowId":"BamyhbNkDkMN4d5C","projectId":"pzytg4uzpSSDUh07","project":{"updatedAt":"2026-06-15T02:41:12.825Z","createdAt":"2026-06-15T02:39:09.155Z","id":"pzytg4uzpSSDUh07","name":"Pakasit Wiwekwan <www.pakasit14@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"8c730868-eb8a-4703-9404-d61f93edd900"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-24T09:51:59.277Z","createdAt":"2026-06-24T09:51:59.277Z","versionId":"c892d424-6c00-466c-a6c2-3d2f15a17302","workflowId":"BamyhbNkDkMN4d5C","nodes":[{"parameters":{"httpMethod":"POST","path":"shinawatra-brain","responseMode":"responseNode","options":{}},"id":"webhook2","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1200,300],"webhookId":"shinawatra-brain"},{"parameters":{"operation":"get","propertyName":"stateRaw","key":"=n8n:shinawatra:{{$json.body.userId}}"},"id":"redisGet2","name":"Redis Get State","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-960,300],"credentials":{"redis":{"id":"6E4f36VbPUmo86lv","name":"Redis - Chatbot Brain"}}},{"parameters":{"jsCode":"let state;\ntry { state = JSON.parse($input.first().json.stateRaw || '{}'); } catch (e) { state = {}; }\nstate.history = state.history || [];\nstate.major = state.major || null; // RN, PN, HR, Engineering, EdAdminMaster, GradDip\nstate.degree = state.degree || null;\nstate.grade = state.grade || null;\nstate.track = state.track || null;\nstate.age = state.age || null;\nstate.weight = state.weight || null;\nstate.height = state.height || null;\nstate.govOrPrivate = state.govOrPrivate || null;\nstate.pnTrack = state.pnTrack || null; // ปกติ, พิเศษ\nstate.engineeringType = state.engineeringType || null; // เครื่องกล, ความปลอดภัย, 2ปริญญา\nstate.isSpobTeacher = state.isSpobTeacher ?? null; // ป.บัณฑิต: เป็นครูเครือ สพฐ. หรือไม่\nstate.pnDetailGiven = state.pnDetailGiven || false;\nstate.conversationEnded = state.conversationEnded || false;\nstate.detailGiven = state.detailGiven || false;\nstate.wantsAdmin = false;\n\nconst webhookBody = $('Webhook').first().json.body;\nconst userId = webhookBody.userId;\nconst channel = webhookBody.channel || 'general'; // 'general' หรือ 'nursing' ส่งมาจาก server.js\nconst persona = channel === 'nursing' ? 'อาจารย์' : 'แอดมิน';\nconst rawMessage = webhookBody.message || '';\nstate.history.push({ role: 'user', content: rawMessage });\n\nconst text = rawMessage.toLowerCase();\n// snapshot ก่อนแยกข้อมูล ใช้เช็คทีหลังว่าข้อความนี้ \"ให้ข้อมูลคัดกรองจริง\" หรือแค่ถามคำถามอื่นแทรก\nconst fieldsBefore = JSON.stringify({major: state.major, degree: state.degree, grade: state.grade, track: state.track, age: state.age, weight: state.weight, height: state.height, govOrPrivate: state.govOrPrivate, pnTrack: state.pnTrack, engineeringType: state.engineeringType, isSpobTeacher: state.isSpobTeacher});\n// เช็คก่อนว่าเป็นคำถาม (มี ไหม/มั้ย/เท่าไหร่ ฯลฯ) เพื่อกันไม่ให้ regex จับสาขาแบบหลวมๆ (เช่น คำว่า \"พยาบาล\" ลอยๆ) ไปเข้าใจผิดว่าลูกค้าเลือกสาขา ทั้งที่จริงแค่ถามคำถามแทรก\nconst hasQuestionMarker = /ไหม|มั้ย|ม้าย|หรอ|เท่าไหร่|เท่าไร|กี่|ยังไง|อย่างไร|ทำไม|ที่ไหน|เมื่อไหร่|รับรอง|ได้ไหม|ใช่ไหม|หรือเปล่า|ไหนคะ|ไหนครับ/.test(text);\nconst numbers = (rawMessage.match(/\\d+(\\.\\d+)?/g) || []).map(Number);\nconst decimalNumbers = (rawMessage.match(/\\d\\.\\d+/g) || []).map(Number); // เก็บไว้แยกต่างหาก กันเคสเกรด 3.0 ถูกตัดทศนิยมจนตรวจไม่เจอ\n\n// ----- กฎช่องทาง: ห้ามพูดพยาบาลในเพจทั่วไป / ห้ามพูดสาขาอื่นในเพจพยาบาล -----\nconst channelBlocked = (channel === 'general' && (text.includes('พยาบาล')))\n  || (channel === 'nursing' && state.major && !['RN','PN'].includes(state.major));\n\n// ----- ตรวจคำตอบรับสั้นๆ หลังจากให้รายละเอียดคอร์สไปแล้ว -----\nconst confirmWords = ['สนใจ', 'ใสใจ', 'สนจ', 'ใช่', 'ตกลง', 'โอเค', 'เอาเลย', 'ครับสนใจ', 'อยากสมัคร', 'สมัคร'];\nif (state.detailGiven && !state.conversationEnded && confirmWords.some(w => text.includes(w))) {\n  state.wantsAdmin = true;\n  const FORM_NURSING2 = 'https://forms.gle/MKg5NfUtvjj1xr2k7';\n  const FORM_ENGINEERING2 = 'https://forms.gle/nPJuM28hHuynxtp97';\n  const FORM_HR2 = 'https://forms.gle/YBXny8GdW1VAXocJ6';\n  const FORM_EDU2 = 'https://docs.google.com/forms/d/17Tq151nb8UH2C5QyL1EF922PzHrpGA_bCJhd7tnToLQ/viewform';\n  const QR_PAYMENT2 = 'https://raw.githubusercontent.com/pakasit14-Sayfa/shinawatra-chatbot/main/backend-middleware/public/images/shinawatra/payment-qr.png';\n  const formLink2 = ['RN','PN'].includes(state.major) ? FORM_NURSING2 : (state.major === 'Engineering' ? FORM_ENGINEERING2 : (state.major === 'HR' ? FORM_HR2 : (['EdAdminMaster','GradDip'].includes(state.major) ? FORM_EDU2 : null)));\n  if (formLink2) {\n    state.forcedAnswer = 'อาจารย์ส่งแบบฟอร์มการกรอกข้อมูลการสมัครนะคะ\\n' + formLink2 + '\\n![QR ชำระเงิน](' + QR_PAYMENT2 + ')\\n===\\nลูกชำระค่าสมัครเรียบร้อยแล้วแจ้งอาจารย์นะคะ อาจารย์นำรายชื่อเข้าระบบให้ก่อนค่ะ ส่วนเอกสารที่ขาดสามารถแนบในฟอร์มภายหลังได้ค่ะลูก';\n  }\n}\n\n// ----- ดึงสาขาที่สนใจ (deterministic) -----\nif (!state.major && !channelBlocked && !hasQuestionMarker) {\n  if (channel === 'nursing' || text.includes('พยาบาล')) {\n    const says1Year = /1\\s*ปี/.test(text);\n    if (text.includes('ผู้ช่วย') || /\\bpn\\b/.test(text) || says1Year) state.major = 'PN';\n    else if (/\\brn\\b/.test(text) || text.includes('พยาบาล')) state.major = 'RN';\n    // ถ้าพิมพ์ \"พยาบาล\" ลอยๆ ไม่ระบุ ให้รอถามก่อน (major ยังเป็น null)\n  } else if (text.includes('ทรัพยากรมนุษย์') || /\\bhr\\b/.test(text)) {\n    state.major = 'HR';\n  } else if (text.includes('วิศว') || text.includes('เครื่องกล') || text.includes('ความปลอดภัย') || /2\\s*ปริญญา|สองปริญญา/.test(text)) {\n    state.major = 'Engineering';\n  } else if (text.includes('บริหารการศึกษา') || text.includes('ป.โท')) {\n    state.major = 'EdAdminMaster';\n  } else if (text.includes('ป.บัณฑิต') || text.includes('บัณฑิตวิชาชีพครู')) {\n    state.major = 'GradDip';\n  }\n}\n\n// ----- ดึงวุฒิการศึกษา -----\nif (!state.degree) {\n  if (/กศน/.test(text)) state.degree = 'กศน.';\n  else if (/ม\\.?6|มัธยมศึกษาปีที่\\s*6|มัธยมปลาย/.test(text)) state.degree = 'ม.6';\n  else if (/ปวช/.test(text)) state.degree = 'ปวช.';\n  else if (/ปวส/.test(text)) state.degree = 'ปวส.';\n  else if (/ป\\.?ตรี|ปริญญาตรี|bachelor/.test(text)) state.degree = 'ปริญญาตรี';\n  else if (/ม\\.?\\s*[1-5]\\b|มัธยมต้น|มัธยมศึกษาปีที่\\s*[1-5]\\b|ป\\.?\\s*[1-6]\\b|ประถม/.test(text)) { state.degree = 'ต่ำกว่าเกณฑ์'; state.conversationEnded = true; }\n}\nif (['RN','PN'].includes(state.major) && state.degree === 'ต่ำกว่าเกณฑ์' && !state.forcedAnswer) {\n  state.forcedAnswer = 'หลักสูตรนี้รับสมัครขั้นต่ำที่วุฒิ ม.6 หรือเทียบเท่าเท่านั้นนะคะ วุฒิที่นักศึกษาแจ้งมายังไม่ถึงเกณฑ์ที่กำหนด ต้องขออภัยด้วยนะคะ';\n}\nif (!state.job && /ทำงาน|รับราชการ|พนักงาน|ธุรกิจส่วนตัว|อาชีพ|ครู/.test(text)) state.job = rawMessage;\nif (!state.experience && /ปี|ปีแล้ว|ประสบการณ์/.test(text)) state.experience = rawMessage;\n\n// ----- RN และ PN: เกรด/สาย/อายุ/น้ำหนัก/ส่วนสูง (เก็บข้อมูลเหมือนกัน แต่ PN ไม่มีเกณฑ์ตัดสิทธิ์) -----\n// เก็บได้ตลอดเวลาไม่ต้องรอรู้สาขาก่อน (ลูกค้าบางคนให้ข้อมูลมาก่อนบอกว่าเลือก RN/PN)\n{\n  if (!state.track) {\n    if (/วิทย์|วิทยาศาสตร์/.test(text)) state.track = 'วิทย์-คณิต';\n    else if (/สังคม|ศิลป์|ภาษา|ศิลภาษา/.test(text)) state.track = 'สายอื่นๆ';\n  }\n  if (state.grade === null) {\n    const g = decimalNumbers.find(n => n >= 0 && n <= 4);\n    if (g !== undefined) state.grade = g;\n  }\n  if (state.age === null) {\n    const a = numbers.find(n => n >= 10 && n <= 100 && Number.isInteger(n));\n    if (a !== undefined) state.age = a;\n  }\n  if (state.weight === null) {\n    const w = numbers.find(n => n >= 30 && n <= 150);\n    if (w !== undefined) state.weight = w;\n  }\n  if (state.height === null) {\n    const h = numbers.find(n => n >= 140 && n <= 210);\n    if (h !== undefined) state.height = h;\n  }\n}\n// RN รับเฉพาะวุฒิ ม.6 (สายสามัญ) เท่านั้น สายอาชีพ (ปวช./ปวส./ป.ตรี) และ กศน. ไม่รับ\nif (state.major === 'RN' && state.degree && state.degree !== 'ม.6' && !state.conversationEnded) {\n  state.conversationEnded = true;\n  state.forcedAnswer = 'หลักสูตรพยาบาล (RN) รับเฉพาะวุฒิ ม.6 สายสามัญเท่านั้นนะคะ วุฒิที่นักศึกษาแจ้งมายังไม่สามารถสมัครหลักสูตรนี้ได้ ต้องขออภัยด้วยนะคะ หากนักศึกษาสนใจหลักสูตรผู้ช่วยพยาบาล (PN) แทน สามารถแจ้งอาจารย์ได้เลยนะคะ';\n}\n\n// ----- เฉพาะ PN: เลือกภาคปกติ/พิเศษ -----\nif (state.major === 'PN' && !state.pnTrack) {\n  if (/พิเศษ|เสาร์|อาทิตย์/.test(text)) state.pnTrack = 'พิเศษ';\n  else if (/ปกติ|จันทร์|ศุกร์/.test(text)) state.pnTrack = 'ปกติ';\n}\n\n// ----- เฉพาะ Engineering: เลือกหลักสูตร (เครื่องกล/ความปลอดภัย/2ปริญญา) -----\nif (state.major === 'Engineering' && !state.engineeringType) {\n  const hasMech = /เครื่องกล/.test(text);\n  const hasSafety = /ความปลอดภัย/.test(text);\n  if (hasMech && hasSafety) state.engineeringType = '2ปริญญา';\n  else if (/2\\s*ปริญญา|สองปริญญา/.test(text)) state.engineeringType = '2ปริญญา';\n  else if (hasMech) state.engineeringType = 'เครื่องกล';\n  else if (hasSafety) state.engineeringType = 'ความปลอดภัย';\n}\n\n// ----- เฉพาะ HR: ที่ทำงานรัฐ/เอกชน -----\nif (state.major === 'HR' && !state.govOrPrivate) {\n  if (/รัฐ|ราชการ|รัฐวิสาหกิจ/.test(text)) state.govOrPrivate = 'รัฐ';\n  else if (/เอกชน|บริษัท/.test(text)) state.govOrPrivate = 'เอกชน';\n}\n\n// ----- เฉพาะ GradDip: เป็นครูเครือ สพฐ. หรือไม่ -----\nif (state.major === 'GradDip' && state.isSpobTeacher === null) {\n  if (/ไม่ใช่|ไม่ได้เป็น|ไม่มี/.test(text)) state.isSpobTeacher = false;\n  else if (/เป็นครู|ใช่|สพฐ/.test(text)) state.isSpobTeacher = true;\n}\nif (state.major === 'GradDip' && state.isSpobTeacher === false) state.conversationEnded = true;\n\n// ----- เช็คว่าข้อมูลครบหรือยังตาม major -----\nfunction infoCompleteFor(major) {\n  if (major === 'RN' || major === 'PN') {\n    // \"สายการเรียน\" (วิทย์/ศิลป์) ต้องเก็บแค่ RN เท่านั้น (รับแค่ ม.6) ส่วน PN ไม่ต้องเก็บเลยไม่ว่าวุฒิจะเป็นอะไร\n    const trackOk = major === 'RN' ? !!state.track : true;\n    return !!(state.degree && state.grade !== null && trackOk && state.age !== null && state.weight !== null && state.height !== null);\n  }\n  if (major === 'HR') return state.degree && state.govOrPrivate;\n  if (major === 'Engineering') return !!(state.degree && state.engineeringType);\n  if (major === 'EdAdminMaster') return !!state.degree;\n  if (major === 'GradDip') return state.isSpobTeacher !== null;\n  return false;\n}\nconst infoComplete = state.major ? infoCompleteFor(state.major) : false;\n// RN/PN ข้อมูลยังไม่ครบ -> ส่งคำถามแบบตายตัวเสมอ (ไม่ผ่าน AI เด็ดขาด กัน AI วนตอบฟอร์มเปล่าซ้ำทั้งที่มีข้อมูลแล้วบางส่วน)\n// ถ้ายังไม่ต้องใช้สายการเรียน (วุฒิไม่ใช่ ม.6) ไม่ต้องถามช่องนี้เลย\nif (['RN','PN'].includes(state.major) && !infoComplete && !state.conversationEnded) {\n  const needsTrack = state.major === 'RN'; // เฉพาะ RN เท่านั้น (รับแค่ ม.6) PN ไม่ต้องเก็บสายการเรียนเลยไม่ว่าวุฒิจะเป็นอะไร\n  const rows = [\n    '- จบวุฒิการศึกษา = ' + (state.degree || ''),\n    '- เกรดเฉลี่ย = ' + (state.grade !== null ? state.grade : ''),\n  ];\n  if (needsTrack) rows.push('- สายการเรียน = ' + (state.track || ''));\n  rows.push('- อายุ = ' + (state.age !== null ? state.age : ''));\n  rows.push('- น้ำหนัก = ' + (state.weight !== null ? state.weight : ''));\n  rows.push('- ส่วนสูง = ' + (state.height !== null ? state.height : ''));\n  state.forcedAnswer = 'อาจารย์ขอสอบถามข้อมูลเบื้องต้นของนักศึกษาก่อนนะคะ\\n' + rows.join('\\n') + '\\nนักศึกษาแจ้งข้อมูลที่ยังขาดเพื่อประเมินคุณสมบัติได้เลยนะคะ';\n}\n\n// ----- ถ้าครบแล้วและเป็น RN ให้คำนวณเกณฑ์แบบ deterministic -----\nlet rnEligible = null;\nlet rnFailReasons = [];\nif (state.major === 'RN' && infoComplete && !state.conversationEnded) {\n  const heightM = state.height / 100;\n  const bmi = state.weight / (heightM * heightM);\n  const gradeMin = state.track === 'วิทย์-คณิต' ? 2.00 : 2.50;\n  if (!(bmi >= 17.5 && bmi <= 30)) rnFailReasons.push('BMI');\n  if (!(state.height >= 150)) rnFailReasons.push('ส่วนสูง');\n  if (!(state.weight >= 40)) rnFailReasons.push('น้ำหนัก');\n  if (!(state.age >= 16 && state.age <= 30)) rnFailReasons.push('อายุ');\n  if (!(state.grade >= gradeMin)) rnFailReasons.push('เกรดเฉลี่ย');\n  rnEligible = rnFailReasons.length === 0;\n}\n// ผ่านเกณฑ์ RN -> ส่งข้อความ+รูปแบบตายตัว ไม่ผ่าน -> ส่งต่อแอดมินทันที (ตามสเปคที่ทีมให้มา)\nif (state.major === 'RN' && infoComplete && !state.detailGiven) {\n  state.forcedAnswer = rnEligible\n    ? 'เกณฑ์คุณสมบัติเบื้องต้นผ่านนะคะ อาจารยส่งรายละเอียดให้ค่ะ\\n===\\n![ตารางผ่อนชำระกรณีกู้ กยศ.](https://raw.githubusercontent.com/pakasit14-Sayfa/shinawatra-chatbot/main/backend-middleware/public/images/shinawatra/nursing/rn-loan-installment-table.jpg)\\n===\\nนักศึกษาสามารถทำเรื่องยื่นกู้ กยศ. เพื่อลดภาระค่าเทอมได้ค่ะ แต่ในการยื่นกู้ทาง กยศ. จะเป็นคนพิจารณาอีกครั้งว่าจะผ่านไม่ผ่านค่ะ ในกรณีกู้ กยศ. แล้วผ่านไม่ต้องสำรองจ่าย ชำระเพียงค่าส่วนต่างเท่านั้นนะคะ แต่ในส่วนที่ยื่นแล้วผลไม่ผ่านนักศึกษาจะต้องมีสำรองจ่ายไว้ค่ะ\\n\\nค่าสมัครเพียง 1,000 บาทเท่านั้นค่ะ ชำระผ่านบัญชีธนาคารของมหาวิทยาลัยโดยตรงค่ะ\\n===\\nถ้าหากนักศึกษาสนใจสมัคร แจ้งอาจารย์ได้ในแชทนี้เลยนะคะ อาจารย์จะมีฟอร์มให้นักศึกษากรอกข้อมูลการสมัครค่ะ'\n    : 'เดี๋ยวอาจารย์ติดต่อไปให้ข้อมูลเพิ่มเติมนะคะ';\n}\n\n// ----- PN: เกณฑ์อายุ/ส่วนสูง/น้ำหนักตัดสิทธิ์ได้ ส่วน BMI แค่ข้อมูลไว้พูดคุย ไม่ตัดสิทธิ์ -----\nlet pnEligible = null;\nlet pnFailReasons = [];\nif (state.major === 'PN' && infoComplete) {\n  if (!(state.height >= 150)) pnFailReasons.push('ส่วนสูง');\n  if (!(state.weight >= 40)) pnFailReasons.push('น้ำหนัก');\n  if (!(state.age >= 16 && state.age <= 60)) pnFailReasons.push('อายุ');\n  pnEligible = pnFailReasons.length === 0;\n}\nif (state.major === 'PN' && infoComplete && !state.detailGiven) {\n  state.forcedAnswer = pnEligible\n    ? 'เกณฑ์คุณสมบัติเบื้องต้นผ่านนะคะ อาจารยส่งรายละเอียดให้ค่ะ\\n===\\n![ตารางค่าเทอมผู้ช่วยพยาบาล](https://raw.githubusercontent.com/pakasit14-Sayfa/shinawatra-chatbot/main/backend-middleware/public/images/shinawatra/nursing/pn-tuition-table.jpg)\\n===\\n📢 ขณะนี้หลักสูตรผู้ช่วยพยาบาล สามารถดำเนินการยื่นกู้กองทุนเงินให้กู้ยืมเพื่อการศึกษา (กยศ.) ได้แล้ว\\n- นักศึกษาสามารถกู้ยืมได้สูงสุด 50,000 บาท ตลอดหลักสูตร (การกู้ กยศ.จะขึ้นอยู่กับการพิจารณาของทาง กยศ.เท่านั้น)\\n- สำหรับภาคเรียนที่ 1 มีค่าใช้จ่ายส่วนต่างที่นักศึกษาต้องชำระเพิ่มเติมจำนวน 31,000 บาท (รวมค่าสมัคร 500 บาท)\\n- สำหรับค่าเล่าเรียน ภาคเรียนที่ 2 และ 3 นักศึกษาจำเป็นต้องสำรองชำระค่าใช้จ่ายล่วงหน้า จำนวน 50,000 บาท\\n\\nรายละเอียดการชำระค่าเล่าเรียน ภาคเรียนที่ 1 มีดังนี้\\n1. ชำระค่าสมัครจำนวน 500 บาท ในวันสมัคร เพื่อให้ทางอาจารย์ดำเนินการจัดทำเอกสารและบันทึกรายชื่อเข้าสู่ระบบรับสมัครของมหาวิทยาลัย\\n2. ชำระค่าเล่าเรียน ภาคเรียนที่ 1 งวดที่ 1 จำนวน 5,000 บาท ภายใน 1 สัปดาห์ หลังจากชำระค่าสมัครเรียบร้อยแล้ว\\n3. ชำระค่าเล่าเรียน ภาคเรียนที่ 1 งวดที่ 2 จำนวน 10,000 บาท ภายใน 1 สัปดาห์ หลังจากรายงานตัวเรียบร้อยแล้ว (หรือสามารถชำระพร้อมกันได้ตามความสะดวก)\\n4. ค่าเล่าเรียน ภาคเรียนที่ 1 ส่วนที่เหลือจำนวน 15,500 บาท สามารถทยอยชำระให้ครบก่อนวันเปิดภาคเรียน\\n===\\nถ้าหากนักศึกษาสนใจสมัคร แจ้งอาจารย์ได้ในแชทนี้เลยนะคะ อาจารย์จะมีฟอร์มให้นักศึกษากรอกข้อมูลการสมัครค่ะ'\n    : 'เดี๋ยวอาจารย์ติดต่อไปให้ข้อมูลเพิ่มเติมนะคะ';\n}\n\n// ให้รายละเอียดคอร์ส PN แบบตายตัว (จัดบรรทัด/bullet เหมือนสไตล์ RN) เพื่อความแน่นอน ไม่ผ่าน AI\nif (state.major === 'PN' && pnEligible && state.pnTrack && !state.pnDetailGiven) {\n  const pnLocation = state.pnTrack === 'พิเศษ' ? 'อาคาร OAI ย่านอโศก กรุงเทพมหานคร (เข้าแลบ/ฝึกงานต้องไปปทุมธานี)' : 'มหาวิทยาลัยชินวัตร จังหวัดปทุมธานี';\n  state.forcedAnswer = 'คุณสมบัติเบื้องต้นของลูกผ่านแล้วนะคะ\\nอาจารย์ขอสรุปรายละเอียดหลักสูตรผู้ช่วยพยาบาล ภาค' + state.pnTrack + ' ให้นะคะ\\n- ระยะเวลาเรียน: 1 ปี\\n- สถานที่เรียน: ' + pnLocation + '\\n- ค่าสมัคร: 500 บาท\\n- ค่าใช้จ่ายภาคเรียนที่ 1: 31,000 บาท (รวมค่าสมัครแล้ว)\\n- ภาคเรียนที่ 2-3: สำรองชำระล่วงหน้า 50,000 บาท\\n- กู้ กยศ. ได้สูงสุด 50,000 บาทตลอดหลักสูตร (อนุมัติตามเงื่อนไข กยศ.)\\nสนใจสมัครเลยไหมคะ';\n  state.pnDetailGiven = true;\n}\n\nif (infoComplete) state.detailGiven = true;\n\n// ----- เช็คว่าข้อความนี้เป็นคำถามแทรกที่อยู่นอกขอบเขตงานคัดกรองหรือไม่ -----\n// ระบบนี้ทำหน้าที่แค่คัดกรองข้อมูลเบื้องต้น (เลือกสาขา + กรอกข้อมูลตามเกณฑ์) เท่านั้น\n// คำถามอื่นๆ (ค่าเทอม, ที่ตั้ง, กยศ., การรับรอง ฯลฯ) ให้ส่งต่อแอดมินจริงแทนการให้ AI เดาตอบ\nconst fieldsAfter = JSON.stringify({major: state.major, degree: state.degree, grade: state.grade, track: state.track, age: state.age, weight: state.weight, height: state.height, govOrPrivate: state.govOrPrivate, pnTrack: state.pnTrack, engineeringType: state.engineeringType, isSpobTeacher: state.isSpobTeacher});\nconst extractedSomethingNew = fieldsBefore !== fieldsAfter;\nconst isGreetingOnly = /^(สวัสดี|หวัดดี|หัดดี|ดีครับ|ดีค่ะ|hi|hello)/.test(text.trim());\nconst offTopic = !channelBlocked && !state.conversationEnded && !state.wantsAdmin && !extractedSomethingNew && !isGreetingOnly && hasQuestionMarker;\n\nreturn [{\n  json: {\n    ...state,\n    userId,\n    channel,\n    persona,\n    channelBlocked,\n    infoComplete,\n    rnEligible,\n    rnFailReasons,\n    pnEligible,\n    pnFailReasons,\n    offTopic\n  }\n}];"},"id":"extractCode2","name":"Extract Info (Deterministic)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,300]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'gpt-4o-mini', temperature: 0.5, messages: [ { role: 'system', content: 'คุณคือ \"' + $json.persona + '\" เจ้าหน้าที่ฝ่ายรับสมัคร มหาวิทยาลัยชินวัตร เรียกลูกค้าว่า \"' + ($json.channel === 'nursing' ? 'ลูก' : 'นักศึกษา') + '\" เสมอ (ห้ามใช้คำว่า ท่าน หรือ คุณ' + ($json.channel === 'nursing' ? ' หรือ นักศึกษา' : '') + ') พูดสุภาพ ลงท้ายด้วยค่ะ/นะคะเสมอ ห้ามใช้ครับ ตอบกระชับเป็นธรรมชาติ ห้ามพิมพ์ตัวเลข/ราคาที่ไม่ได้ให้มาในข้อมูลนี้เอง ห้ามมั่วข้อมูล ตัวเลขทุกตัว (ราคา, จำนวนปี, จำนวนที่นั่ง ฯลฯ) ต้องเขียนเป็นเลขอารบิกเสมอ (เช่น 150,000 บาท, 4 ปี) ห้ามสะกดเป็นคำอ่านภาษาไทยเด็ดขาด (ห้ามเขียนว่า หนึ่งแสนห้าหมื่นบาท หรือ สี่ปี) ห้ามใช้เครื่องหมาย ! (อัศเจรีย์) เด็ดขาดในทุกประโยค โดยเฉพาะประโยคชวนถามเพิ่มเติม ให้ลงท้ายด้วย \"นะคะ\" เสมอ ห้ามใช้ \"ค่ะ!\" ถ้าจะปิดท้ายด้วยการชวนถามเพิ่มเติม ให้ใช้ข้อความนี้เป๊ะๆเท่านั้น ห้ามแต่งเอง ห้ามชี้นำหัวข้อคำถาม: \"หากมีคำถามสอบถามเพิ่มเติมสามารถสอบถามอาจารย์ได้เลยนะคะ\". ข้อมูลที่ต้องใช้ตอบ (ห้ามมั่ว ใช้ตามนี้เท่านั้น): ' + (function(){ const j = $json; let facts = ''; const FORM_NURSING = 'https://forms.gle/MKg5NfUtvjj1xr2k7'; const FORM_ENGINEERING = 'https://forms.gle/nPJuM28hHuynxtp97'; const FORM_HR = 'https://forms.gle/YBXny8GdW1VAXocJ6'; const FORM_EDU = 'https://docs.google.com/forms/d/17Tq151nb8UH2C5QyL1EF922PzHrpGA_bCJhd7tnToLQ/viewform'; if (j.channelBlocked) { facts = 'ลูกค้าถามเรื่องที่ช่องทางนี้ตอบไม่ได้ (เพจทั่วไปห้ามพูดพยาบาล หรือเพจพยาบาลห้ามพูดสาขาอื่น) ให้แนะนำไปเพจที่ถูกต้องอย่างสุภาพสั้นๆ ห้ามถามข้อมูลอะไรต่อ'; } else if (j.offTopic) { facts = 'ลูกค้าถามคำถามที่อยู่นอกเหนือขอบเขตงานคัดกรองเบื้องต้น (ไม่ใช่การเลือกสาขาหรือให้ข้อมูลคัดกรอง) ห้ามพยายามตอบคำถามนั้นเองเด็ดขาด ห้ามมั่ว ให้ตอบสั้นๆ ว่าจะให้อาจารย์ติดต่อไปให้ข้อมูลเพิ่มเติมโดยตรง เช่น \"เดี๋ยวอาจารย์ติดต่อไปให้ข้อมูลเพิ่มเติมนะคะ\" ห้ามถามข้อมูลคัดกรองต่อในข้อความนี้'; } else if (j.major === 'RN' && j.conversationEnded) { facts = 'ตอบเป๊ะๆ ห้ามแต่งเพิ่ม: \"หลักสูตรพยาบาล (RN) รับเฉพาะวุฒิ ม.6 สายสามัญเท่านั้นนะคะ วุฒิที่นักศึกษาแจ้งมายังไม่สามารถสมัครหลักสูตรนี้ได้ ต้องขออภัยด้วยนะคะ หากนักศึกษาสนใจหลักสูตรผู้ช่วยพยาบาล (PN) แทน สามารถแจ้งอาจารย์ได้เลยนะคะ\"'; } else if (j.major === 'GradDip' && j.conversationEnded) { facts = 'ลูกค้าไม่ได้เป็นครูในโรงเรียนเครือ สพฐ. ซึ่งเป็นเงื่อนไขจำเป็นของหลักสูตร ป.บัณฑิต ให้แจ้งสุภาพว่าหลักสูตรนี้รับเฉพาะครูที่มีเอกสารรับรองการทำงานในโรงเรียนเครือ สพฐ. เท่านั้น ขออภัยในความไม่สะดวก'; } else if (j.wantsAdmin) {   const formLink = ['RN','PN'].includes(j.major) ? FORM_NURSING : (j.major === 'Engineering' ? FORM_ENGINEERING : (j.major === 'HR' ? FORM_HR : (['EdAdminMaster','GradDip'].includes(j.major) ? FORM_EDU : null)));   const QR_PAYMENT = 'https://raw.githubusercontent.com/pakasit14-Sayfa/shinawatra-chatbot/main/backend-middleware/public/images/shinawatra/payment-qr.png';   if (formLink) { facts = 'ลูกค้าสนใจสมัครแล้ว ตอบเป๊ะๆ คำต่อคำ ห้ามแต่งเพิ่ม ห้ามตัดคำ: อาจารย์ส่งแบบฟอร์มการกรอกข้อมูลการสมัครนะคะ\\n' + formLink + '\\n![QR ชำระเงิน](' + QR_PAYMENT + ')\\n===\\nลูกชำระค่าสมัครเรียบร้อยแล้วแจ้งอาจารย์นะคะ อาจารย์นำรายชื่อเข้าระบบให้ก่อนค่ะ ส่วนเอกสารที่ขาดสามารถแนบในฟอร์มภายหลังได้ค่ะลูก'; }   else { facts = 'ลูกค้าตอบรับสนใจสมัครแล้วหลังจากได้รับรายละเอียดคอร์ส ให้ตอบรับสั้นๆ ว่าจะให้เจ้าหน้าที่ติดต่อนัดหมายต่อ แจ้งเบอร์ 082-383-0243 และ Line: @siu.admission'; } } else if (!j.major && j.channel === 'nursing') { facts = 'ยังไม่ทราบว่าลูกค้าสนใจหลักสูตรไหน ให้ตอบด้วยข้อความนี้เป๊ะๆ คำต่อคำตัวอักษรต่อตัวอักษร ห้ามแก้ไข ห้ามพูดถึง HR/วิศวะ/ป.โท/ป.บัณฑิตเด็ดขาด (เพจนี้มีแค่พยาบาลเท่านั้น) ต้องขึ้นบรรทัดใหม่ตรงตามนี้เป๊ะๆ: \"สวัสดีค่ะ ลูก\\nยินดีต้อนรับสู่มหาวิทยาลัยชินวัตรค่ะ สนใจหลักสูตรพยาบาลไหนคะ\\n- หลักสูตรพยาบาล (RN 4ปี)\\n- หลักสูตรผู้ช่วยพยาบาล (PN 1ปี)\\n(ภาคปกติ - ภาคพิเศษ)\\nสนใจหลักสูตรใดแจ้งอาจารย์ได้เลยนะคะ\"'; } else if (!j.major) { facts = 'ยังไม่ทราบว่าลูกค้าสนใจสาขาไหน ให้ทักทายสุภาพแล้วถามว่าสนใจหลักสูตรไหนคะ (เลือกได้เฉพาะ: ทรัพยากรมนุษย์ HR, วิศวกรรมศาสตร์, ป.โทบริหารการศึกษา, ป.บัณฑิตวิชาชีพครู) ห้ามพูดถึงพยาบาลหรือผู้ช่วยพยาบาลเด็ดขาด (เพจนี้ไม่มีหลักสูตรพยาบาล)'; } else if (!j.infoComplete) {   const noInfoYet = !j.degree && j.grade === null && !j.track && j.age === null && j.weight === null && j.height === null;   const sixFieldTemplate = 'ตอบด้วยข้อความนี้เป๊ะๆ คำต่อคำ ห้ามแก้ไข ห้ามเพิ่มประโยคทักทายหรือประโยคย้ำว่านักศึกษาเลือกสาขาอะไร: \"อาจารย์ขอสอบถามข้อมูลเบื้องต้นของนักศึกษาก่อนนะคะ\\n- จบวุฒิการศึกษา =\\n- เกรดเฉลี่ย =\\n- สายการเรียน =\\n- อายุ =\\n- น้ำหนัก =\\n- ส่วนสูง =\\nนักศึกษาแจ้งข้อมูลข้างต้นเพื่อประเมินคุณสมบัติได้เลยนะคะ\"';   if (j.major === 'RN') { facts = noInfoYet ? sixFieldTemplate : ('สาขาที่ลูกค้าสนใจ: RN (พยาบาลศาสตร์). ข้อมูลที่มีแล้ว (ห้ามถามซ้ำ): วุฒิ=' + (j.degree||'-') + ' เกรด=' + (j.grade??'-') + ' สาย=' + (j.track||'-') + ' อายุ=' + (j.age??'-') + ' น้ำหนัก=' + (j.weight??'-') + ' ส่วนสูง=' + (j.height??'-') + '. ให้ถามเฉพาะข้อมูลที่ยังขาดจากรายการนี้เท่านั้น: วุฒิการศึกษา, เกรดเฉลี่ย, สายการเรียน, อายุ, น้ำหนัก(กก.), ส่วนสูง(ซม.)'); }   else if (j.major === 'PN') { facts = sixFieldTemplate; }   else if (j.major === 'Engineering') { facts = 'สาขาที่ลูกค้าสนใจ: วิศวกรรมศาสตร์. ข้อมูลที่มีแล้ว (ห้ามถามซ้ำ): วุฒิ=' + (j.degree||'-') + ' หลักสูตร=' + (j.engineeringType||'-') + '. ให้ถามเฉพาะข้อมูลที่ยังขาด: วุฒิการศึกษา, และสนใจหลักสูตรเครื่องกล, ความปลอดภัย, หรือหลักสูตร 2 ปริญญา (เรียนทั้งเครื่องกล+ความปลอดภัยพร้อมกัน)'; }   else if (j.major === 'GradDip') { facts = 'สาขาที่ลูกค้าสนใจ: ป.บัณฑิตวิชาชีพครู ให้ถามว่าเป็นครูในโรงเรียนเครือ สพฐ. ที่มีเอกสารรับรองการทำงานในตำแหน่งครูผู้สอนหรือไม่ (เป็นเงื่อนไขจำเป็น)'; }   else if (j.major === 'HR') { facts = 'สาขาที่ลูกค้าสนใจ: HR (ทรัพยากรมนุษย์). ข้อมูลที่มีแล้ว (ห้ามถามซ้ำ): วุฒิ=' + (j.degree||'-') + ' หน่วยงาน=' + (j.govOrPrivate||'-') + '. ให้ถามเฉพาะข้อมูลที่ยังขาด: วุฒิการศึกษา และปัจจุบันทำงานหน่วยงานรัฐหรือเอกชน'; }   else { facts = 'สาขาที่ลูกค้าสนใจ: ป.โทบริหารการศึกษา. ข้อมูลที่มีแล้ว (ห้ามถามซ้ำ): วุฒิ=' + (j.degree||'-') + '. ให้ถามวุฒิการศึกษา (ต้องมีใบประกอบวิชาชีพครู)'; } } else if (j.major === 'RN') {   facts = j.rnEligible     ? 'ลูกค้าผ่านเกณฑ์คุณสมบัติเบื้องต้นสำหรับ RN แล้ว ให้ตอบเป๊ะๆ คำต่อคำ ห้ามแต่งเพิ่ม ห้ามใส่รายละเอียดค่าเทอม/โควต้า/เงื่อนไขใดๆ เพิ่มเด็ดขาด ตอบเป็น 2 ข้อความแยกกันด้วย === แบบนี้: \"คุณสมบัติเบื้องต้นของลูกผ่านเกณฑ์นะคะ อาจารยส่งรายละเอียดให้ค่ะ === ![ตารางผ่อนชำระกรณีกู้ กยศ.](https://raw.githubusercontent.com/pakasit14-Sayfa/shinawatra-chatbot/main/backend-middleware/public/images/shinawatra/nursing/rn-loan-installment-table.jpg)\"'     : 'ลูกค้าไม่ผ่านเกณฑ์ RN เนื่องจาก: ' + j.rnFailReasons.join(', ') + ' ให้แจ้งสุภาพว่าไม่ผ่านเกณฑ์ข้อไหน และแนะนำพิจารณาหลักสูตรผู้ช่วยพยาบาล (PN) แทน'; } else if (j.major === 'PN' && !j.pnEligible) { facts = 'ลูกค้าไม่ผ่านเกณฑ์ PN เนื่องจาก: ' + j.pnFailReasons.join(', ') + ' ให้แจ้งสุภาพว่าไม่ผ่านเกณฑ์ข้อไหน'; } else if (j.major === 'PN' && !j.pnTrack) { facts = 'ลูกให้ข้อมูลครบแล้ว แต่ยังไม่ทราบว่าต้องการเรียนภาคไหน ให้ตอบสั้นๆ ว่าคุณสมบัติเบื้องต้นผ่านแล้ว แล้วถามว่าต้องการเรียนภาคปกติ (จันทร์-ศุกร์ ที่ปทุมธานี) หรือภาคพิเศษ (เสาร์-อาทิตย์ ที่อโศก)'; } else if (j.major === 'PN') {   const locationLine = j.pnTrack === 'พิเศษ' ? 'เรียนที่อาคาร OAI ย่านอโศก กรุงเทพมหานคร (เข้าแลบ/ฝึกงานต้องไปปทุมธานี)' : 'เรียนที่มหาวิทยาลัยชินวัตร จังหวัดปทุมธานี';   facts = 'PN (ผู้ช่วยพยาบาล 1 ปี ภาค' + j.pnTrack + ' ' + locationLine + ') ค่าสมัคร 500 บาท ภาคเรียนที่ 1 มีค่าใช้จ่ายส่วนต่าง 31,000 บาท (รวมค่าสมัครแล้ว) แบ่งชำระได้ ภาคเรียนที่ 2-3 สำรองชำระล่วงหน้า 50,000 บาท กู้ กยศ.ได้สูงสุด 50,000 บาทตลอดหลักสูตร (อนุมัติตามเงื่อนไข กยศ.) ให้สรุปข้อมูลคอร์สแล้วถามว่าสนใจสมัครเลยไหมคะ'; } else if (j.major === 'HR') {   const fee = j.govOrPrivate === 'รัฐ' ? '18,750 บาท/เทอม (มี 2 ทุนรวมกัน: ทุนลด 5,000 บาท และทุนลด 25% จากปกติ 30,000 บาท)' : '25,000 บาท/เทอม (มีทุนส่วนลด 5,000 บาท จากปกติ 30,000 บาท)';   facts = 'HRM การจัดการทรัพยากรมนุษย์ (เรียนออนไลน์วันอาทิตย์ Block course, เทียบโอนได้ สายบริหารธุรกิจเหลือเรียนประมาณ 1.5 ปี) ลูกค้าทำงาน ' + j.govOrPrivate + ' ค่าเทอม ' + fee + ' ผ่อนชำระรายเดือนได้ ให้สรุปแล้วถามว่าสนใจสมัครเลยไหมคะ'; } else if (j.major === 'Engineering') {   const isTransfer = ['ปวส.','ปริญญาตรี'].includes(j.degree);   let detail = '';   if (j.engineeringType === 'เครื่องกล') detail = isTransfer ? 'เทียบโอนเหลือเรียน 2 ปี ค่าเทอมเหมา 150,000 บาท' : 'เรียนเต็ม 4 ปี ค่าเทอม 280,000 บาท';   else if (j.engineeringType === 'ความปลอดภัย') detail = isTransfer ? 'เทียบโอนเหลือเรียน 2 ปี ค่าเทอมเหมา 150,000 บาท' : 'เรียนเต็ม 3 ปี ค่าเทอม 280,000 บาท';   else detail = isTransfer ? 'เทียบโอนเหลือเรียน 3 ปี ค่าเทอมตลอดหลักสูตร 255,000 บาท' : 'เรียนเต็ม 4 ปี ค่าเทอมตลอดหลักสูตร 320,000 บาท';   facts = 'วิศวกรรมศาสตร์ หลักสูตร' + j.engineeringType + ' (เรียนออนไลน์+ออนไซต์ วันธรรมดาภาคค่ำ 19:00-21:00 ไม่ทุกวัน + วันอาทิตย์เต็มวันออนไลน์ เข้ามหาวิทยาลัยน้อยมาก) วุฒิลูกค้า=' + j.degree + ' ' + detail + '. เครื่องกลรับรองจากสภาวิศวกร ได้สิทธิ์สอบ กว. / ความปลอดภัยรับรองจากกรมสวัสดิการและคุ้มครองแรงงาน ได้ใบประกอบวิชาชีพ จป.เลยไม่ต้องสอบเพิ่ม ให้สรุปแล้วถามว่าสนใจสมัครเลยไหมคะ'; } else if (j.major === 'EdAdminMaster') { facts = 'ป.โทบริหารการศึกษา (เรียนวันอาทิตย์ 2 ปี, ค่าเทอม 150,000 บาท แบ่ง 7 งวด, ค่าสมัคร 1,500 บาท, ต้องมีใบประกอบวิชาชีพครู, หลักสูตรคุรุสภารับรอง, เมื่อเรียนจบสามารถนำวุฒิยื่นขอใบประกอบวิชาชีพผู้บริหารสถานศึกษาได้เลยไม่ต้องสอบเพิ่มเติม) ให้สรุปแล้วถามว่ามีใบประกอบวิชาชีพครูหรือยัง และถามว่าสนใจสมัครเลยไหมคะ'; } else if (j.major === 'GradDip') { facts = 'ป.บัณฑิตวิชาชีพครู (ลูกค้าเป็นครูเครือ สพฐ. ผ่านเงื่อนไขแล้ว) เรียนออนไลน์เป็นหลัก วันเสาร์หรืออาทิตย์ขึ้นกับอาจารย์ผู้สอน เปิดภาคเรียนเดือนธันวาคม 2569 ค่าสมัคร 1,500 บาท ค่าเทอมตลอดหลักสูตร 54,000 บาท ผ่อนชำระรายเดือนได้ ระยะเวลา 1.5 ปี (3 เทอม) เข้าร่วมกิจกรรมที่มหาวิทยาลัยเทอมละ 1 ครั้ง (รวม 3 ครั้งตลอดหลักสูตร) หลักสูตรคุรุสภารับรอง เมื่อเรียนจบมีสิทธิ์สอบใบประกอบวิชาชีพครู ให้สรุปแล้วถามว่าสนใจสมัครเลยไหมคะ'; } return facts; })() }, ...$json.history ] }) }}","options":{}},"id":"openaiReply2","name":"AI - Generate Reply","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,300],"credentials":{"httpHeaderAuth":{"id":"eoikRoa7Qb4pyyxv","name":"OpenAI Header Auth - Chatbot Brain"}}},{"parameters":{"jsCode":"const incoming = $input.first().json;\nconst state = $('Extract Info (Deterministic)').first().json;\n// ถ้า Extract Info กำหนดคำตอบตายตัวไว้แล้ว (เช่น ข้อความส่งฟอร์ม+QR) ให้ใช้ตรงนั้นเลย ไม่ใช้คำตอบจาก AI\n// เพราะ gpt-4o-mini มักแก้คำ/ลืมรายละเอียดเมื่อข้อความมีหลายส่วนประกอบ (ลิงก์+รูป+คำเรียกเฉพาะ)\nconst answer = state.forcedAnswer || incoming.choices[0].message.content;\nstate.history.push({ role: 'assistant', content: answer });\nreturn [{ json: { ...state, answer } }];"},"id":"mergeAnswer2","name":"Merge Answer","type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,300]},{"parameters":{"operation":"set","key":"=n8n:shinawatra:{{$json.userId}}","value":"={{ JSON.stringify({history: $json.history, major: $json.major, degree: $json.degree, job: $json.job, experience: $json.experience, grade: $json.grade, track: $json.track, age: $json.age, weight: $json.weight, height: $json.height, govOrPrivate: $json.govOrPrivate, pnTrack: $json.pnTrack, engineeringType: $json.engineeringType, isSpobTeacher: $json.isSpobTeacher, conversationEnded: $json.conversationEnded, detailGiven: $json.detailGiven, pnDetailGiven: $json.pnDetailGiven}) }}","expire":true,"ttl":2592000},"id":"redisSet2","name":"Redis Save State","type":"n8n-nodes-base.redis","typeVersion":1,"position":[0,300],"credentials":{"redis":{"id":"6E4f36VbPUmo86lv","name":"Redis - Chatbot Brain"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { answer: $json.answer } }}","options":{}},"id":"respond2","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[240,300]}],"connections":{"Webhook":{"main":[[{"node":"Redis Get State","type":"main","index":0}]]},"Redis Get State":{"main":[[{"node":"Extract Info (Deterministic)","type":"main","index":0}]]},"Extract Info (Deterministic)":{"main":[[{"node":"AI - Generate Reply","type":"main","index":0}]]},"AI - Generate Reply":{"main":[[{"node":"Merge Answer","type":"main","index":0}]]},"Merge Answer":{"main":[[{"node":"Redis Save State","type":"main","index":0}]]},"Redis Save State":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Pakasit Wiwekwan","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-24T09:51:59.351Z","id":245,"workflowId":"BamyhbNkDkMN4d5C","versionId":"c892d424-6c00-466c-a6c2-3d2f15a17302","event":"activated","userId":"8c730868-eb8a-4703-9404-d61f93edd900"},{"createdAt":"2026-06-24T09:51:59.565Z","id":247,"workflowId":"BamyhbNkDkMN4d5C","versionId":"c892d424-6c00-466c-a6c2-3d2f15a17302","event":"activated","userId":"8c730868-eb8a-4703-9404-d61f93edd900"},{"createdAt":"2026-06-24T09:51:59.332Z","id":244,"workflowId":"BamyhbNkDkMN4d5C","versionId":"c892d424-6c00-466c-a6c2-3d2f15a17302","event":"deactivated","userId":"8c730868-eb8a-4703-9404-d61f93edd900"},{"createdAt":"2026-06-24T09:51:59.550Z","id":246,"workflowId":"BamyhbNkDkMN4d5C","versionId":"c892d424-6c00-466c-a6c2-3d2f15a17302","event":"deactivated","userId":"8c730868-eb8a-4703-9404-d61f93edd900"}]}}